<?xml version="1.0" encoding="utf-8"?>
<beans default-init-method="init" default-destroy-method="destroy"
       xmlns="http://www.springframework.org/schema/beans" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.ctrip.com/schema/apollo http://www.ctrip.com/schema/apollo.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:apollo="http://www.ctrip.com/schema/apollo">

    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean class="com.ifeng.recom.mixrecall.negative.constant.BaseConfig">
        <property name="locations">
            <list>
                <value>classpath*:config/*.properties</value>
            </list>
        </property>
    </bean>

    <!-- Apollo配置中心 -->
    <apollo:config></apollo:config>

    <!-- <import resource="spring-mybatis.xml" /> -->

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.ifeng.recom.mixrecall"/>
    <context:annotation-config/>
    <task:annotation-driven />

    <aop:aspectj-autoproxy proxy-target-class="true" />


    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="cacheManagerFactory"/>
    </bean>

    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig" >
        <property name="maxWaitMillis" value="-1" />
        <property name="maxTotal" value="1000" />
        <property name="minIdle" value="8" />
        <property name="maxIdle" value="100" />
    </bean>



    <!--<bean id="userJedisCluster"  class="com.ifeng.recom.ctr.persitent.profile.user.HUserJedisClusterFactory">-->
        <!--<property name="addressConfig">-->
            <!--<value>classpath:develop.config/userRedis.properties</value>-->
        <!--</property>-->
        <!--&lt;!&ndash;  属性文件里  key的前缀 &ndash;&gt;-->
        <!--<property name="addressKeyPrefix" value="redishost" />-->
        <!--<property name="timeout" value="300000" />-->
        <!--<property name="maxRedirections" value="6" />-->
        <!--<property name="genericObjectPoolConfig" ref="genericObjectPoolConfig" />-->
    <!--</bean>-->


</beans>
